snippet if "A basic if-statement"
if($1)
{
	${VISUAL}
}
endsnippet

snippet else "A basic else statement"
else
{
	${VISUAL}	
}
endsnippet

snippet for "A basic for loop"
for(\$i=0; \$i<${1:10}; $i++)
{
	
}
endsnippet

snippet while "A basic while loop"
while(${1:true})
{
	
}
endsnippet
