snippet class "A basic class scaffolding"
class ${1:MyClass}(object):
	${0}
endsnippet

snippet function "A basic function scaffolding"
def ${1:myFunction}(${2}):
	${0}
endsnippet

snippet " "a quote snippet"
"${1:${VISUAL}}"${0}
endsnippet

snippet ' "a quote snippet"
'${1:${VISUAL}}'${0}
endsnippet

snippet """ "a comment"
"""
	${1:${VISUAL}}
"""${0}
endsnippet
