snippet class "a basic class snippet"
class ${1:myClass} 
	def initialize(${2})
	end
	${3}
end${4}
endsnippet

snippet function "A basic function"

def ${1:myFunction}${2:(${3:myParam})}
	${4:${VISUAL}}
end
endsnippet

snippet for "A basic for loop"

for ${1:item} in ${2:items} do
	${3:${VISUAL}}
end
endsnippet
